/* varje punkt är en överskrift som förklara vad klass punkten gör.*/

body, html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero.png");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.box {
  border: 1px solid black;
  padding: 10px;
  background-color: #f2f2f2;
  width: 100%;
  margin-bottom: 10px;

}
div.center{
    text-align: center;
}

hr.solid{
  border-top: 5px solid #bbb;
}

.column{
    float: left;
    width: 50%;
    padding: 5px;
}
.curriculum{
  width: 75%;
  height: auto;

}
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position: absolute;
}